html {
     font-family: sans-serif;
}
h1, p {
     color:rgb(95, 73, 0);
     font-family: "Covered By Your Grace", cursive;
     
}
h1 {
     font-size: 5vw;
     margin-top: 3%;
     margin-bottom: 2%;
}
p {
     font-size: 1.8vw;
}
body {
     display: flex;
     background-color: rgb(238, 212, 127);
     font-family: "Covered By Your Grace", cursive;
     font-size: 1vw;
     align-items: center;
     flex-direction: column;
     margin-left: 20%;
     margin-right: 20%;
}
button {
     font-family: "Covered By Your Grace", cursive;
}